head, title, body, nav, main, h2, h3, p, footer, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

head, title, body, nav, main, h1, h2, h3, p, footer, fieldset {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

head, title, body, nav, main, h1, h2, h3, p, footer, fieldset {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.15em;
}

footer {
    text-align: center;
}

table {
    border: 2px solid white;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

thead tr th {
    text-align: center;
}

tbody tr th {
    text-align: left;
}

tbody tr td {
    text-align: center;
}

td {
    border-left: 2px solid white;
}

form {
    background-color: black;
}

label {
    color: white;
}

form div {
    color: white;
}

@media only screen and (min-width:768px) {

    nav ul {
        list-style-type: none;
        text-align: center;
        margin: 0;
    }

    nav li {
        display: inline-block;
        font-size: 2em;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    nav li a {
        display: block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    nav li a:hover {
        text-decoration: none;
        font-size: 1.5em;
    }

    .responsive {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:767px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    body {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
        margin: 0;
    }

    nav li {
        display: inline-block;
        font-size: 1em;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    nav li a {
        display: block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .responsive {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}